<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ecommerce.mapper.PerformanceDateMapper">
	
	<insert id="create" parameterType="com.ecommerce.domain.PerformanceDate">
		INSERT INTO performances_date
		(
			pid, date, time
		)
		VALUES
		(
			#{pid}, #{date}, #{time}
		)
	</insert>
	
	<select id="getByPid" parameterType="Long" resultType="com.ecommerce.domain.PerformanceDate">
		SELECT
			*
		FROM 
			performances_date
		WHERE 
			pid = #{pid}
	</select>
	
</mapper>
